<!-- ng click is angular eqiv of on click -->
<!-- ng-repeat is when you want to do something for each list -->
<!-- ng-submit is the same as a submit -->
<div ng-repeat="post in posts">
  <a href="{{post.url}}">{{post.title}}</a>
  <a ng-click="deletePost($index)">delete</a>
</div>

<form ng-submit="submitPost()">
  <input type="text" ng-model="post.title"/>
  <input type="text" ng-model="post.url"/>
  <input type="submit" value="Add Post"/>
</form>

<!-- what is in our post object {post} -->
Post:{{post}}
<br>
Post:{{posts}}